<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
  <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.1/build/pure-min.css">
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
  <link rel="stylesheet" href="<%= asset_path "main.css" %>" type="text/css" rel="stylesheet" media="screen,projection" data-turbolinks-track="reload">
  <link rel="stylesheet" href="<%= asset_path "registration.css" %>" type="text/css" rel="stylesheet" media="screen,projection" data-turbolinks-track="reload">
  <link rel="stylesheet" href="<%= asset_path "recommend.css" %>" type="text/css" rel="stylesheet" media="screen,projection" data-turbolinks-track="reload">
  <link rel="stylesheet" href="<%= asset_path "onepage.css" %>" type="text/css" rel="stylesheet" media="screen,projection" data-turbolinks-track="reload">
  <link rel="stylesheet" href="<%= asset_path "applypage.css" %>" type="text/css" rel="stylesheet" media="screen,projection" data-turbolinks-track="reload">
  <link rel="stylesheet" href="<%= asset_path "slider.css" %>" type="text/css" rel="stylesheet" media="screen,projection" data-turbolinks-track="reload">


</head>
<div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="">Logo</a>

        <ul class="pure-menu-list">
            <li class="pure-menu-item"><a href="#" class="pure-menu-link">나의 동아리</a></li>
            <li class="pure-menu-item"><a href="#" class="pure-menu-link">마이페이지</a></li>
            <li class="pure-menu-item"><a href="#" class="pure-menu-link">로그아웃</a></li>
        </ul>
    </div>
</div>

<body>
    <%=yield%>
</body>



</html>

