<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link href="<%= asset_path "style.css" %>"type="text/css" rel="stylesheet" media="screen,projection" data-turbolinks-track="reload">


</head>
<body>
<div id="header">
    <ul id="navbar-top">
      <li style="float:left!important"><a class="active" href="#about">Logo</a></li>
      <li><a href="#home">검색</a></li>
      <li><a href="#news">즐겨찾기</a></li>
      <li><a href="#contact">나의 동아리</a></li>
      <li><a href="#mypage">마이페이지</a></li>
      <li><a href="#logout">로그인</a></li>
    </ul>
</div>
<%=yield%>

</body>
</html>
